# executable files
sfd_tool

.claude/worktrees
task/
build*/
pac_*/
dist/

# Ignore gettext templates
*.pot

version.h

# Ignore generated json files
fdl_info.json
sfd_tool_config.json

# Ignore generated .mo files
*.mo

# Ignore generated .deb and .rpm files
*.deb
*.rpm

# Ignore generated .dmg files
*.dmg

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/material_theme_project_new.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/misc.xml