# executable files
sfd_tool

.claude/worktrees
task/
build*/
pac_*/
dist/

# Ignore gettext templates
*.pot

version.h

# Ignore generated json files
fdl_info.json
sfd_tool_config.json

# Ignore generated .mo files
*.mo

# Ignore generated .deb and .rpm files
*.deb
*.rpm

# Ignore generated .dmg files
*.dmg