name: Build sfd_tool

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, x86]
        config: [Release]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup MSVS
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: ${{ matrix.arch }}

      - name: Create Build Directory
        run: New-Item -ItemType Directory -Force -Path ./build/${{ matrix.arch }}/${{ matrix.config }}/

      - name: Build sfd_tool (${{ matrix.arch }} - ${{ matrix.config }})
        run: >
          msbuild sfd_tool.vcxproj
          /p:Configuration=${{ matrix.config }}
          /p:Platform=${{ matrix.arch == 'x64' && 'x64' || 'win32' }}
          /p:OutDir=./build/${{ matrix.arch }}/${{ matrix.config }}/

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sfd_tool_${{ matrix.arch }}_${{ matrix.config }}
          path: ./build/${{ matrix.arch }}/${{ matrix.config }}/

  release:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: build
    steps:
      - name: Set Release Timestamp
        run: echo "RELEASE_TAG=sfd_tool_$(TZ='Asia/Shanghai' date +'%Y%m%d_%H%M')" >> $GITHUB_ENV

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: master

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: output
          pattern: sfd_tool_*_Release

      - name: Misc
        run: |
          cp master/*.md output/
          cd output
          mv sfd_tool_x86_Release sfd_tool_SPRD_Release
          mv sfd_tool_x64_Release sfd_tool_LibUSB_Release
          zip -r -v ../${{ env.RELEASE_TAG }}.zip .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          target_commitish: ${{ github.sha }}
          name: ${{ env.RELEASE_TAG }}
          draft: false
          prerelease: false
          body: |
            x86 ver work with SPRD driver, x64 ver work with libusb driver
          files: |
            ${{ env.RELEASE_TAG }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}